
#our__client{
    margin-top: 126px;
}
.line{
    max-width: 1030px;
    border: 1px solid #F0F0F0
}
.clients{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients__title{
    font-weight: 600;
font-size: 16px;
line-height: 128%;
color: #676767;
}
.clients__logos{
    max-width: 930px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}