.about__us{
    margin-top: 132px;
    margin-bottom: 236px;
}
.about__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .about__title{
        font-weight: 700;
font-size: 53px;
line-height: 66px;
color: #292851;
max-width: 500px;
width: 100%;
    }
    .about__descr{
        font-weight: 500;
font-size: 28px;
line-height: 150%;
color: #1E193C;
max-width: 551px;
width: 100%;
margin-top: 20px;
    }
    .about__subtitle{
        font-weight: 400;
font-size: 16px;
line-height: 164%;
color: #4E6B8D;
max-width: 549px;
width: 100%;
margin-top: 32px;
    }
}
@media only screen and (max-width: 1200px) {
   .about__content{
    display: flex;
    flex-wrap: wrap;
   }
}
@media only screen and (max-width: 1000px) {
    .about__content{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }
    .about__title{
        margin-top: 20px;
        text-align: center;
    }
    .about__us__img{
        max-width: 471px;
        width: 100%;
    }
 }